{% extends "base.html" %}



{% block content %}
<h3>ACT</h3>
<p>You may take the ACT as many times as you like.  You do NOT have to wait until your junior year.  The ACT is on two separate days.  One day will be five tests and it will take up to six hours.  You do not get a lunch break, however, you will get a short break in the middle.  You can bring a bag with a snack in it for this break.</p>

<p>The second day is a Science test only.  This one won't take nearly as long.</p>

<p>The ACT is a great way to get scholarships and get into college.  Prior to registering, we need to know which colleges you might like to attend.  We want to make sure your scores are sent to them.</p>

<p>Go here for extensive information: <a href="http://www.act.org/">ACT Site</a></p>

<p><strong>Epic Charter School ACT Code:  372720</p></strong>

<h3>Choosing a College</h3>
<p>By the end of your Junior year, you should know exactly where you want to go to college.</p>

<p>During your 9th and 10th grade years, this is when you set up a tour of all of the places that interest you.  Just go to the college website or call them and set it up.  Epic sets up school tours all year. <a href="https://calendar.google.com/calendar/embed?src=epiccharterschools.org_13eh9eja802is2e99c1toue790%40group.calendar.google.com&ctz=America%2FChicago">Look on the Epic School Calendar to find one</a>!</p>

<p>Pay close attention to the admission requirements.  Know the ACT score that will be required.  Begin taking the ACT as early as 8th grade so that you have plenty of time to get rid of those gitters and improve that score.  You want to take it multiple times to do your best.</p>

<h3>OK College Start</h3>
<p>I encourage every 8-12 grade student to create an account here: <a href="okcollegestart.org"> okcollegestart.org</a>. The OK College Start website offers a plethora of college planning resources, scholarship information, test prep, an interest assessment, and much more.</p>

<p>There are plenty of <a href="https://www.scholarships.com/financial-aid/college-scholarships/scholarships-by-state/oklahoma-scholarships/">scholarship opportunities</a> available.  Just click and search!</p>

<h3>College Planning</h3>
<p>Senior students should make application to the college of their choice beginning in March of their Junior year.  Make sure you apply for any scholarships at the college too.  Often times, scholarships are first come-first served, as well as choice of dormitory rooms. Apply early! At least make certain that you have completed all application paperwork before September of your Senior year.  Seniors should apply for multiple scholarships for which they are qualified, including small and local opportunities.</p>

<p>The web is an excellent source for scholarship writing tools, tips, and advice.  Here are <a href="https://www.usnews.com/education/scholarship-search-insider/2015/09/25/3-steps-to-write-a-standout-college-scholarship-essay"target="_blank">three ways to make your scholarship essay stand out!</a></p>

{% endblock %}



