{% extends "base.html" %}

{% block content %}
<h3 align="center"> Scroll Down to View All or Filter </h3>
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>

<br/>
{% if limited %}
<h5>Showing the first 50 results</h5>
{% endif %}

{% for object in object_list %}
{% include 'assignment_list_inline.html'%}
{% endfor %}
<!-- 
<form action="https://www.epicliveservices.com/admin/logout/">
    <input type="submit" value="Logout of System Here" >
</form> -->

{% endblock %}
