{% extends "base.html" %}

{% block content %}
<h3 align="center"> Scroll Down to View All or Filter </h3>
<form method="get">
    <table style="table table-sm">
    {{ form.as_table }}
    </table>
</form>

<div class='col-20 col-md-50 mb-1 mx-auto' id="id_curriculum">
</div>

{% for object in object_list.qs%}
{% endfor %}

<script>
$(document).ready(function() {
    function update_curriculum_choices() {
        var subject_val = $("#id_subject").val();
        var grade_level_val = $("#id_grade_level").val();
        if (subject_val && grade_level_val) {
            $("#id_curriculum").html("<li>Loading...</li>");
            $.getJSON('/api/curriculum/?subject=' + subject_val.replace(/\s/g,'%20') + '&grade_level=' + grade_level_val.replace(/\s/g,'%20'), function(data) {
                var curs = "";
                var count = 1;
                $.each(data.results, function(i, v) {
                    {% ifequal user.groups.all.0.name "Owner" %}
                    var edit_link = '<a href="/curriculum/' + v.id  + '/edit" > Edit Information for: ' + v.name + '</a>';
                    {% else %}
                    var edit_link = "";
                    {% endifequal %}
                    curs += '<div class="card"><div class="card-body"><h5 class="card-title">' +v.name +'</h5><div class="card-text">Grade: ' + grade_level_val + ' Subject: ' + subject_val + '<br/><a href="/curriculum/'+ v.id + '/">See Assignments in this Curriculum</a><br/>'+ edit_link + '</div></div></div>';
                    count += 1;
                });
                if(count == 1) {
                    $("#id_curriculum").html("No results.");
                } else {
                    $("#id_curriculum").html(curs);
                }
            })
            .fail(function() {
            })

        }
    }
    $("#id_subject").change(function() {
        update_curriculum_choices();
        var subject = $("#id_subject").val()
        if (subject == "Other") {
            $("#id_level").val("Core");
        }
    });
    $("#id_grade_level").change(function() {
        update_curriculum_choices();
    });


	/*
    if ( $("#id_curriculum li").length > 1) {
        $("#id_curriculum_0").parent().remove();
    } else {
        $("#id_curriculum").html('-');
    }
	*/

});
</script>



{% endblock %}
