<div class='col-80 col-md-100 mb-1 mx-auto'>



<div class='card'>
  <div class='card-body'>

      <h3 class = 'card-title'>
        
          {{object.name}} Assignments:<p></p></h3>
      
          Grade Level: {{object.grade_level}}<br/>
       {% for assignment in object.curriculum_assignment.all %}

        <class = 'card-title'>
          
                
                Title: {{assignment.name}}<br/>
                Standards Covered:{% for standard in assignment.standard.all %} {{standard.standard_code}}, 
                {% endfor %}
                <br/>
                Instructions or Link: {{assignment.description}}<br/>
          
            {% ifequal user.groups.all.0.name "Owner" %}
  
              <a href='{{ object.get_delete_url }}'>Remove {{object.name}}
              
                {{object.curriculum.title}} </a>
                {% endifequal %}
                
              <p></p>

              {% empty %}

              <p><strong>Assignments are coming soon! <a href="https://forms.gle/jxvTSYqiTvE75dp27">Request an assignment here.</a></p>


                {% endfor %}

                
      <p></p>
    
  </div>
  </div>
  

</div>
