

<div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
 
  <div class='card-body'>

    

      
{% for assignment in object.curriculum_assignment.all %}

        <class = 'card-title'>
          
                
                Title: {{assignment.name}}<br/>
                Standards Covered:{% for standard in assignment.standard.all %} {{standard.standard_code}}, 
                {% endfor %}
                <br/>
                Instructions or Link: {{assignment.description}}<br/>
          
           {% ifequal user.groups.all.0.name "Owner" %}
  
              <a href='{{ object.get_delete_url }}'>Remove {{object.name}}
              
             </a>
                {% endifequal %}
                
              <p></p>

              {% empty %}

              <h5>Assignments coming soon!<br/> <a href="https://forms.gle/jxvTSYqiTvE75dp27" target="_blank">Request one here.</a></h5>


                {% endfor %}



    

       
  </div>
</div>
</div>
