{% extends "base.html" %}

{% block content %}


    
<style>
ul {list-style:none; padding-left:2px}
table tr {padding-top:10px;}
.helptext {color:#444; display: inline-block; margin-top:5px;}
.errorlist {color:#f00;}
</style>
<h3 align="center">Find a Curriculum</h3>

<form method="POST" name="enroll_form">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <br/>
</form>
<br/>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>

    function update_curriculum_choices() {
        var subject_val = $("#id_subject").val();
        var grade_level_val = $("#id_grade_level").val();
        if (subject_val && grade_level_val) {
            $("#id_curriculum").html("<li>Loading...</li>");
            $.getJSON('/api/curriculum/?subject=' + subject_val.replace(/\s/g,'%20') + '&grade_level=' + grade_level_val.replace(/\s/g,'%20'), function(data) {
                var curs = "";
                var count = 1;
                $.each(data.results, function(i, v) {
                    curs += '<li><label for="id_curriculum_'+ count +'"><input type="radio" name="curriculum" value="'+ v.id +'" required="" id="id_curriculum_' + count +'">' + v.name +'</label></li>\n';
                    count += 1;
                });
                if(count == 1) {
                    $("#id_curriculum").html("No results.");
                } else {
                    $("#id_curriculum").html(curs);
                }
            })
            .fail(function() {
            })

        }
    }
    $("#id_subject").change(function() { 
        update_curriculum_choices(); 
        var subject = $("#id_subject").val()
        if (subject == "Other") {
            $("#id_level").val("Core");
        }
    });
    $("#id_grade_level").change(function() {
        update_curriculum_choices();
    });
   

    if ( $("#id_curriculum li").length > 1) {
        $("#id_curriculum_0").parent().remove();
    } else {
        $("#id_curriculum").html('-');
    }

});
</script>
{% endblock %}
