{% extends "base.html" %}

{% block content %}
<h3 align="center"> Copy and Paste These into the BCC of an e-mail to send a message to every family on your roster at once. </h3>
<form method="get">
    {{ object_list.form.as_p }}
    <button type="submit">Search</button>
</form>



{% for object in object_list.qs%}

{% if user.email == object.teacher_email %}

{% include 'email_all_families_inline.html'%}

       

{% endif %}
{% endfor %}
<!-- 
<form action="https://www.epicliveservices.com/admin/logout/">
    <input type="submit" value="Logout of System Here" >
</form> -->

{% endblock %}

