{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h3 align="center">{% if edit %}Edit{%else%}Create{%endif%} a Gradebook Record</h3>
{% if ask_overwrite %}
There is already a grade saved in the gradebook for this week? Do you want to overwrite it?<br/>
<div class="text-center">
<button id="yes_btn" type="button" class="btn btn-danger">Yes</button>&nbsp;&nbsp;&nbsp;
<button id="no_btn" type="button" class="btn btn-primary">No</button>
</div>
<br/><br/>
{% endif %}
<b>Student:</b> {% if form.instance.student %}{{ form.instance.student.get_full_name }}{% else %}{{ form.initial.student.get_full_name }}{% endif %}<br/>
<b>Academic Semester:</b> {{ form.initial.academic_semester }}<br/>
<b>Curriculum:</b>{% if form.instance.curriculum %}{{ form.instance.curriculum.name }}{% else %}{{ form.initial.curriculum.name }}{% endif %}<br/><br/>
<form id="gb_form" method='POST' {% if ask_overwrite %}style="display:none;"{% endif%}>
{% csrf_token %}
<table class="table table-sm table-striped">
<tbody>
{{ form.as_table }}
</tbody>
</table>
<div class="text-right">
<button class='btn btn-primary' type='submit'>Save</button>
</div>
</form>
<script src="{% static "js/dynamic-date-fields.js" %}" type="text/javascript"></script>
<script>
$(document).ready(function() {
    $("#yes_btn").click(function(e) {
        $("#gb_form").attr("action","?overwrite=1");
        $("#gb_form").submit();
    });
    $("#no_btn").click(function(e) {
        window.location.href = "/";
    });
    $("#id_complete").blur(function(e) {
        var required = $("label[for=id_required_desc]").parent().parent().find('td').html();
        var grade = $("#id_grade").val();
        var complete = $(this).val();
        if (!grade && required != "x") {
            required = parseInt(required);
            complete = parseInt(complete);
            var result = Math.max(Math.min(Math.round((complete/required)*100),100),0);
            $("#id_grade").val(result);
        }
    });
});
    
</script>

{% endblock %}
