{% extends "base.html" %}



{% block content %}
<h3><strong>National Honor Society</strong></h3>
<p>Yes!  We do it! </p>
<p>If you are in 6th through 8th grade: <a href="https://epiccharterschools.org/national-honor-society" target="_blank">NJHS Information</a></p>
<p>If you are in 10th through 12th grade:<a href="https://epiccharterschools.org/national-junior-honor-society" target="_blank"> NHS Information</a></p>
<p>

<h3><strong>Student Council</strong></h3>
<p>Yes! We have it! </p>
<p>If you are in 9th through 12th grade you may <a href="https://sites.google.com/epiccharterschools.org/epic-charter-school-student-co/members" target="_blank">join here!</a></p>
{% load staticfiles %} <img src="{% static 'images/honors.jpg' %}"/>

{% endblock %}