
{% extends "base.html" %}
{% block head_title %}
<center>
  {% now "F" as todays_month %}
    {% if todays_month == "January" %}
      {% load staticfiles %} <img src="{% static 'images/january.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "February" %}
      {% load staticfiles %} <img src="{% static 'images/february.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "March" %}
      {% load staticfiles %} <img src="{% static 'images/march.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "April" %}
      {% load staticfiles %} <img src="{% static 'images/april.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "May" %}
      {% load staticfiles %} <img src="{% static 'images/may.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "June" %}
      {% load staticfiles %} <img src="{% static 'images/june.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "July" %}
      {% load staticfiles %} <img src="{% static 'images/july.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "August" %}
      {% load staticfiles %} <img src="{% static 'images/august.jpg' %}" width= "30px" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "September" %}
      {% load staticfiles %} <img src="{% static 'images/september.jpg' %}" width= "30px" />
      {% endif %}

{% now "F" as todays_month %}
    {% if todays_month == "October" %}
      {% load staticfiles %} <center><img src="{% static 'images/october.jpg' %}" />
      {% endif %}


{% now "F" as todays_month %}
    {% if todays_month == "November" %}
      {% load staticfiles %} <img src="{% static 'images/november.jpg' %}" />
      {% endif %}


{% if user.is_authenticated%}
 {% ifequal user.groups.all.0.name "Teacher" %}
<center><h2>Grades and MORE</h2>
<h3>Hello {{user.first_name}}!</h3>
<p></p>
<h2>In case you haven't heard it today, you are an amazing teacher!</h2>

<p>This is your personal website.  <br/> <br/>It is accessible to YOU ONLY.<br/>
NO OTHER PERSON has access or knows about it.  <br/><br/>NO ONE can see ANYTHING on this site, unless you share your log-in information.  SSSSHHHHH, it's our little secret!</p>

<h2>New upgrade?  <a href="https://docs.google.com/document/d/1_fCUfh1p53noEGq0eikm2x-SJbTbW5IOXWoskqSu2Rg/edit#heading=h.vw5w4sn3b6tb"target = "_blank">Take it for a spin with this tutorial!</a></h2>

<p>Do you need a standard added?  <a href="https://forms.gle/baSq48zHHrrSY2MY8"target = "_blank">Complete this form.</a></p>

<p>Do you need a curriculum added?  <a href="https://forms.gle/yXymhDWikZcJz4Vv7"target = "_blank">Complete this form.</a></p>

<p>Do you need an assignment added?  <a href="https://forms.gle/jxvTSYqiTvE75dp27"target = "_blank">Complete this form.</a></p>

<p>Do you need a student added? <a href="/students-setup/"target = "_blank">Click here.</a></p>

{% load staticfiles %} <img src="{% static 'images/tynercreeksoftwarewhitebackground.jpg' %}" width= "200px" />
<div font=4, align='center', color='grey', style = 'italics'> You have a fulltime custom software designer for your website.  YOUR satisfaction is important.  For ANY problems at all, <a href="mailto:tynercreeksoftware@gmail.com"target = "_blank">simply send a message!</a></center></div>

{% endifequal %}

{% ifequal user.groups.all.0.name "Trial" %}


<center><h3>Hello!</h3>
<p></p>
<h4>You are logged into the Basic Version.</center><div align="left"><p>
This gives you access to all OAS Standards in an easy search model. </p>
<p>You also have unlimited access to standards correlated assignments from which you can copy and paste pacing guides.<br/></h4>
What is the Upgraded version?</p>
<ul>
<li>Automatically pull progress from most all websites that you use into one place.</li>
<li>Your roster is imported into your website for you.</li>
<li>Your families have their own personal log ins</li>
<li>Send next week's assignment list directly to the student screen with a CLICK.  The system figures out how many assignments are needed to stay on pace to complete by the ending date that YOU SET.</li>
<li>System determines the number of gradable assignments for you and prints a report on student's screen.</li>
<li>View Standards Completion Maps for students.</li>
<li>Send custom alerts to specific students</li>
<li>E-mail next week's assignments to families with a CLICK.</li>
<li>E-mail late assignment reports to families with a CLICK.</li>
<li>Add curriculum or assignments based on performance or grade level WITH A CLICK!</li>
</ul>
<p>Why upgrade? This is what you can do.<a href="https://docs.google.com/document/d/1_fCUfh1p53noEGq0eikm2x-SJbTbW5IOXWoskqSu2Rg/edit#heading=h.vw5w4sn3b6tb"target = "_blank">Take it for a spin with this tutorial!</a></p>
<h2><a href="mailto:tynercreeksoftware@gmail.com">Ask about Upgrading</h2>
</div>



{% endifequal %}


{% ifequal user.groups.all.0.name "Owner" %}

<center>
<h3>Hello {{user.first_name}}!</h3>
<p></p>
<h2>You are logged in as an Owner.  When you need it....</h2></center>

<p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSct7aNnvS59MtMQ3ndIMhpGY1s5ebgLEguTglw9CIgeVmN3nA/viewform?embedded=true" width="640" height="2243" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>

{% endifequal %}

{% ifequal user.groups.all.0.name "Student" %}


      
   
<p></p>


{% load embed_video_tags %}
{% video item.video 'small' %}
<h3>Hello {{user.first_name}}!</h3>
<p>{% now "n" as today %}
    {% ifequal today object.birthdate.month|stringformat:"s" %}
      {% load staticfiles %} <img src="{% static 'images/birthday.jpg' %}"/>
      </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/I2sFUeC8v0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endifequal %}
    </center>

  <p>Your Teacher Is: {{teacher.first_name}} {{teacher.last_name}}

</p>
<p>Your Teacher's eMail: <a href = "mailto:{{teacher.teacher_email}}">{{teacher.email}}</a><p/>

  <p>Your Teacher's Phone Number: {{teacher.phone}}<p/>

  <p> <a href = "mailto:{{object.teacher_email}}">eMail Your Teacher</a></p>

<p><a href="{{teacher.zoom}}" target = "_blank">Zoom With Your Teacher</a></p>
 
 <p><iframe src="{{object.goog_calendar}}" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></a> 


<p><a href="https://epiccharterschools.org/student-parent-handbook" target = "_blank">View The Epic Student and Parent Handbook</a></p>

<p><a href="{{teacher.syllabus}}"target = "_blank">View Your Teacher's Classroom Syllabus</a></p>
<p><a href="https://epiccharterschools.org/learning-fund"target = "_blank">What is the Learning Fund?</>


<p><a href="https://epiccharterschools.org/records-request"target = "_blank">Request Records from Epic:  Transcript, Driver's Permit Letter, Report Card, ANYTHING</a></p>

<h3>Attendance Policy:</h3>
<p>Because of our unique structure, there is no daily roll call. Gradable assignments are the Epic attendance record. Epic measures 100% attendance as 40 gradable assignments each nine weeks. It is important for families to understand that at the end of each of the four quarters, students must have an attendance of at least 76% to remain enrolled. One way to picture the relationship between gradable assignments and attendance could be described using the subject of Math. One gradable Math assignment at Epic might represent five days of work in a traditional brick and mortar classroom. All students with less than 76% attendance will be withdrawn at the end of each quarter. </p>


  <h3>What Is A Gradable Assignment?</h3>
  <p>Gradable Assignments (Attendance Points) are determined by your teacher.  You will know exactly what you need to complete on your Weekly Assignment List to receive credit for each assignment.  There are five possible Gradable Assignments (Attendance Points) each week.</p>

  <p><a href="mailto:support@epiccharterschools.org">Contact technical support.</a></p>

  <h4>The Epic School Calendar:</h4>
<p><iframe src="https://calendar.google.com/calendar/embed?src=epiccharterschools.org_13eh9eja802is2e99c1toue790%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>

</center>
{% endifequal %}



 {% ifequal user.groups.all.0.name "Gold" %}
<center><h2>Grades and MORE</h2>
<h3>Hello {{user.first_name}}!</h3>
<p></p>
<h2>Thank you for being a Gold Member.  We want you to know we appreciate your commitment to education as well as your continued business.</h2>

<p>This is your personal website.  <br/> <br/>It is accessible to YOU ONLY.<br/>
NO OTHER PERSON has access or knows about it.  <br/><br/>NO ONE can see ANYTHING on this site, unless you share your log-in information.  SSSSHHHHH, it's our little secret!</p>

<h2>New upgrade?  <a href="https://docs.google.com/document/d/1_fCUfh1p53noEGq0eikm2x-SJbTbW5IOXWoskqSu2Rg/edit#heading=h.vw5w4sn3b6tb"target = "_blank">Take it for a spin with this tutorial!</a>  As a Gold level customer, please call us directly and we can walk you through anything:  405-578-5701.</h2>

<p>Do you need a standard added?  <a href="https://forms.gle/baSq48zHHrrSY2MY8"target = "_blank">Complete this form.</a></p>

<p>Have you created a curriculum and need it added? Maybe a list of projects? <a href="https://forms.gle/yXymhDWikZcJz4Vv7"target = "_blank">Complete this form.</a></p>

<p>Have you created an assignment for a CURRENT curriculum and need it added?  <a href="https://forms.gle/jxvTSYqiTvE75dp27"target = "_blank">Complete this form.</a></p>

<p>Do you need a student added? That's EXACTLY why we're here!<a href="/students-setup/"target = "_blank">Click here.</a></p>

{% load staticfiles %} <img src="{% static 'images/tynercreeksoftwarewhitebackground.jpg' %}" width= "200px" />
<div font=4, align='center', color='grey', style = 'italics'> You have a fulltime custom software designer for your website.  YOUR satisfaction is important.  For ANY problems at all, <a href="mailto:tynercreeksoftware@gmail.com">simply send a message!</a><br/>As a GOLD level customer, you may also call us directly at 405-578-5701 whenever you need assistance.</center></div>

{% endifequal %}




 {% ifequal user.groups.all.0.name "Silver" %}
<center><h2>Grades and MORE</h2>
<h3>Hello {{user.first_name}}!</h3>
<p></p>
<h2>Thank you for being a Silver Level Member.  We want you to know we appreciate your commitment to education here at Tyner Creek.</h2>

<p>This is your personal website.  <br/> <br/>It is accessible to YOU ONLY.<br/>
NO OTHER PERSON has access or knows about it.  <br/><br/>NO ONE can see ANYTHING on this site, unless you share your log-in information.  SSSSHHHHH, it's our little secret!</p>

<h2>New upgrade?  <a href="https://docs.google.com/document/d/1_fCUfh1p53noEGq0eikm2x-SJbTbW5IOXWoskqSu2Rg/edit#heading=h.vw5w4sn3b6tb"target = "_blank">Take it for a spin with this tutorial!</a></h2>



<p>Do you need a student added? That's EXACTLY why we're here!<a href="/students-setup/"target = "_blank">Click here.</a></p>

{% load staticfiles %} <img src="{% static 'images/tynercreeksoftwarewhitebackground.jpg' %}" width= "200px" />
<div font=4, align='center', color='grey', style = 'italics'> You have a fulltime custom software designer for your website.  YOUR satisfaction is important.  For ANY problems at all, <a href="mailto:tynercreeksoftware@gmail.com">simply send a message!</a></center></div>

{% endifequal %}




 {% ifequal user.groups.all.0.name "Bronze" %}
<center><h2>Grades and MORE</h2>
<h3>Hello {{user.first_name}}!</h3>
<p></p>

<h2>New upgrade?  <a href="https://docs.google.com/document/d/1_fCUfh1p53noEGq0eikm2x-SJbTbW5IOXWoskqSu2Rg/edit#heading=h.vw5w4sn3b6tb"target = "_blank">Take it for a spin with this tutorial!</a></h2>

<p>This is your personal website.  <br/> <br/>It is accessible to YOU ONLY.<br/>
NO OTHER PERSON has access or knows about it.  <br/><br/>NO ONE can see ANYTHING on this site, unless you share your log-in information</p>

{% load staticfiles %} <img src="{% static 'images/tynercreeksoftwarewhitebackground.jpg' %}" width= "200px" />
<div font=4, align='center', color='grey', style = 'italics'> You have a fulltime custom software designer for your website.  YOUR satisfaction is important.  For ANY problems at all, <a href="mailto:tynercreeksoftware@gmail.com">simply send a message!</a></center></div>

{% endifequal %}

{% else %}
<center><h1>
<a href="/login">Please log in here.</a></h1></center>
{% endif %}
{% endblock %}






<!-- {{ title }} -->

<!-- {{ user }} -->
<!-- prints username out onto the screen... -->

<!-- {{request.user}} -->
<!-- prints username out onto the screen... -->

<!-- {{request.path}} -->
<!-- prints path onto the screen... -->



<!-- {% if user.is_authenticated%}
but, instead put the user authentication in the view definition. -->

      <!-- <h1> This data shows (this list too) only to someone that is logged in. </h1> -->
      <!-- The loop below only happens if there are values for it, and the view has an if statement to run them... -->


          <!-- {% for a in my_list %}
            <li> {{a}} </li>
          {% endfor %} -->
<!-- {% endif %} -->

{% block content %}
{% endblock %}


