{% extends "base.html" %}



{% block content %}
<center>
	{% load staticfiles %} <img src="{% static 'images/compass.jpg' %}" width= "50px" />
	<p><a href="https://www.thelearningodyssey.com" target="_blank">Compass</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/comprehend.jpg' %}" width= "50px" />
<p><a href="https://epicoklahoma.comprehendlearning.com/" target="_blank">Comprehend</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/studyisland.jpg' %}" width= "50px" />
<p><a href="https://app.studyisland.com/cfw/login/" target="_blank">Study Island</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)@epic<br/>
Example: mw30350@epic<br/>
Password: epic1234 (lower case "e")</p>
{% load staticfiles %} <img src="{% static 'images/myon.jpg' %}" width= "50px" />
<p><a href="https://www.clever.com" target="_blank">MyON Library</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/spellingclassroom.jpg' %}" width= "50px" />
<p><a href="https://www.spellingclassroom.com" target="_blank">Spelling Classroom</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/mathseeds.jpg' %}" width= "50px" />
<p><a href="https://www.mathseeds.com" target="_blank">Math Seeds</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/successmaker.jpg' %}" width= "50px" />
<p><a href="https://epicyouth0140.smhost.net/lms/sm.view" target="_blank">SuccessMaker</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/prodigy.jpg' %}" width= "50px" />
<p><a href="https://www.prodigygame.com/Play/" target="_blank">Prodigy Math</a><br/>
Username = Teacher Will Set<br/>
Password: Epic1234<br/>
YOU ARE PLAYING FROM SCHOOL</p>
{% load staticfiles %} <img src="{% static 'images/homeworkhelp.jpg' %}" width= "50px" />
<p><a href="http://homeworkhelp.epiccharterschools.org/" target="_blank">Homework Help</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/plato.jpg' %}" width= "50px" />
<p><a href="https://login.edmentum.com/" target="_blank">Plato or Exact Path</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/readingeggs.jpg' %}" width= "50px" />
<p><a href="https://www.readingeggs.com" target="_blank">Reading Eggs</a><br/>
Username = Teacher Will Set<br/>
Password: Teacher Will Set</p>
{% load staticfiles %} <img src="{% static 'images/ixl.jpg' %}" width= "50px" />
<p><a href="https://www.ixl.com/signin/epic" target="_blank">IXL.com</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)@epic<br/>
Example: mw30350@epic<br/>
Password: epic1234 (lower case "e")</p>
{% load staticfiles %} <img src="{% static 'images/dreambox.jpg' %}" width= "50px" />
<p><a href="https://play.dreambox.com/login/n352/3kaw" target="_blank">Dreambox</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234<br/>
Class Code:  Teacher Will Send</p>
{% load staticfiles %} <img src="{% static 'images/discoveryed.jpg' %}" width= "50px" />
<p><a href="https://app.discoveryeducation.com/learn/signin#" target="_blank">Discovery Ed</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)<br/>
Example: mw30350<br/>
Password: Epic1234</p>
{% load staticfiles %} <img src="{% static 'images/mindplay.jpg' %}" width= "50px" />
<p><a href="https://www.clever.com" target="_blank">Mindplay</a><br/>
Username = (firstinitial)(lastinitial)(epicenterid number)@epiccharterschools.org<br/>
Example: mw30350@epiccharterschools.org<br/>
Password: Your Google Password<br/>
YOU MUST LOGIN WITH GOOGLE</p>
{% load staticfiles %} <img src="{% static 'images/mathseeds.jpg' %}" width= "50px" />
<p><a href="https://www.mathseeds.com" target="_blank">Math Seeds</a><br/>
Username = Teacher Will Set<br/>
Password: Teacher Will Set</p></center>
{% endblock %}