<div class='col-80 col-md-100 mb-1 mx-auto'>


        
          <strong>{{student.first_name}} {{student.last_name}}'s Schedule For This Week</strong><p></p>
          
      <div class='card'>
  <div class='card-body'>

      <h3 class = 'card-title'>
        
                {% for enrollment in object.student_enrollment.all %}

              <class = 'card-title'>
                {{enrollment.curriculum.subject}}-
                {{enrollment.curriculum.name}}<br/>Grade Level Assigned:
                {{enrollment.curriculum.grade_level}}<br/> Recorded: 
                {{enrollment.curriculum.recorded_from}}<br/> Tracked Using:
                {{enrollment.curriculum.tracking}}</a><br/>
                Required:
                {{enrollment.curriculum.required}}</a><br/>
                Weight: {{object.weight}}<br/>
                Ending Date for the Semester or Year (Depending on Curriculum): {{enrollment.curriculum.semesterend}}<br/>
                </div>
  </div>
  

</div>