{% extends "base.html" %}



{% block content %}


<h3><strong>What is Oklahoma's Promise?</strong></h3>
<p>
Oklahoma's Promise offers qualified Oklahoma students FREE COLLEGE!
</p>
<p>
REQUIREMENTS:
<ul>
<li>Must be an Oklahoma resident.</li>
<li>Must apply in the 8th, 9th or 10th grade.</li>
<li>The parent's federal adjusted gross income must not exceed $55K per year.</li><br/>

Even if you do not meet the income guidelines today, you may later.  <strong>EVERYONE NEEDS TO APPLY.</strong>
<p>
Go to the <a href="https://www.okhighered.org/okpromise/" target="_blank">Oklahoma's Promise Website</a> and click the Red button in the top-right hand corner to apply!  Make sure you write down your username and password!</p>


{% endblock %}


