{% extends "base.html" %}



{% block content %}
<h5>Graduation</h5>
<p>Yes, we have graduation!  We have a beautiful ceremony.  Always make sure that Epic has your most accurate e-mail address so you won't miss out. Watch our school website, Facebook page and your e-mail for information!</p>

<h5>Prom</h5>
<p>Yes, we have a prom!  Watch our <a href="https://epiccharterschools.org/"target="_blank"> school website</a>, Facebook page and your e-mail for information!</p>

{% load staticfiles %} <img src="{% static 'images/prom.jpg' %}"/>
{% endblock %}

