<div class='col-80 col-md-100 mb-1 mx-auto'>
  <div class='card'>
 
  <div class='card-body'>

  {{object.epicenter_id}}:       {{object.first_name}} {{object.last_name}}<br/> Student's Grade: {{object.grade}}<br/>
Primary eMail: <a href = "mailto:{{object.email}}">{{object.email}}</a><br/>
Secondary eMail: <a href = "mailto:{{object.additional_email}}">{{object.additional_email}}</a><br/>
Birthdate: {{object.birthdate}}<br/>
Primary Phone: {{object.phone_number}}<br/>
Secondary Phone: {{object.additional_phone_number}}<br/>
     
          </div>


  </div></div>
    

 
 
        
          
       
            
          
       
          

