{% extends "base.html" %}



{% block content %}
<h3><strong>SAT </strong></h3>
<p>SAT information:  https://collegereadiness.collegeboard.org/sat/register/special-circumstances/younger-students

Anyone can take the SAT. But the rules are a little different if you are:
</p>
<p>
12 years old or younger.
In eighth grade or lower, regardless of your age.
Keep reading to find out which rules to follow.
</p>
<p>
How to Register
If you’re 12 years old or younger, you can only register by mail because of Internet privacy laws.
If you’re 13 or older, you can create a free College Board account and register online.
If you’re in the eighth grade or below you should not include a photo with your registration. However, you will need to have an acceptable photo ID to be admitted to the test center. There are also special rules about scores for eighth graders and below.
Talent Search Candidates
If you’re taking the SAT as part of a talent search program, you will need to submit other documentation in addition to your registration. For details, visit the program’s website:
</p>
<p>
Center for Talented Youth (Johns Hopkins University)
Duke Talent Identification Program (Duke University)
Midwest Academic Talent Search (Northwestern University)
Center for Bright Kids (Western Academic Talent Search)
If you’re in the eighth grade or below on test day, and you’re testing for Talent Search purposes, you can present a Talent Search Program ID Form instead of a photo ID.
</p>
<p>
Scores for Eighth Graders and Below
If you test in the eighth grade or below, your scores are removed from your file at the end of the academic year you tested. If you want your scores to be part of your permanent record, you must let us know before August of the year you tested. Include the following with your request:
</p>
<p>
	<ol>
<li>Full identification information</li>
<li>Registration number</li>
<li>Test date</li>
</ol>
Mail your request to:<br/>

The College Board SAT Program<br/>

Attention: Talent Search Scores<br/>
P. O. Box 025505<br/>
Miami, FL 33102</p>

{% endblock %}