{% extends "base.html" %}

{% block content %}
<h3 align="center">
{% if not late_view %}
{{ object.get_full_name }}'s Weekly Assignment List
{% else %}
{{ object.get_full_name }}'s Late Assignment List
{% endif %}
</h3>
<br/>

{% regroup assignments|dictsort:"cur_pk" by cur_pk as as_list %}

{% if not assignments %}
No {% if late_view %}late{% else %}weekly{% endif %} assignments.
{% endif %}

{% if request.user.groups.all.0.name == "Teacher" or request.user.groups.all.0.name == "Owner" %}
{% if as_list and late_view %}
<a class="btn btn-primary btn-lg" href="{% url "send_late_email" student_pk=object.pk %}" role="button">EMail Late Assignments</a><br/><br/>
{% endif %}
{% if as_list and not late_view %}
<a class="btn btn-primary btn-lg" href="{% url "send_weekly_email" student_pk=object.pk %}" role="button">EMail This Week’s Assignments</a><br/><br/>
{% endif %}
{% endif %}

{% for cur in as_list %}
<table class="table table-striped table-bordered">
    <thead>
        <th>{{ cur.list.0.curriculum }}</th>
    </thead>
    <tbody>
        {% for item in cur.list %}
        <tr>
            <td>
                {{ item.title }}<br/>
                <small>{{ item.detail }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/><br/>
{% endfor %}

{% endblock %}


