<tr>
<td>{{ object.epicenter_id }}</td><td>{{ object.first_name }}</td><td>{{ object.last_name }}</td><td><small>{{ object.email }}</small></td><td><a href='{{ object.get_edit_url }}' >Edit</a></td>
</tr>

{% comment %}
<div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
 
  <div class='card-body'>

    
      
      <h5 class = 'card-title'>  {{object.epicenter_id}}:

        {{object.first_name}} {{object.last_name}} </h5> Student's Grade: {{object.grade}}

      <div class = 'card-text'> Primary eMail: <a href = "mailto:{{enrollment.student.email}}">{{object.email}}</a><br/></div>

        <div class = 'card-text'> Secondary eMail: <a href = "mailto:{{enrollment.student.additional_email}}">{{object.additional_email}}</a><br/> </div>

      <div class = 'card-text'>Birthdate: {{object.date_of_birth}}

        Grade: {{object.grade}}</div>
        <div class = 'card-text'>Primary Phone: {{object.phone_number}}<br/>

        Secondary Phone: {{object.additional_phone_number}}<br/>
      </div>

      <a href='{% url "create_weekly_action object.student.pk curriculum.pk {{ object.get_edit_url }}' > Edit {{object.first_name}}

        {{object.last_name}}'s Information</a>

      

      <!-- <a href='{{ enrollment.get_edit_url }}' > Edit
        {{object.first_name}} {{object.last_name}}'s Course Schedule</a> -->

       
  </div>
</div>
</div>
{% endcomment %}
