

<div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
 
  <div class='card-body'>

    
      
      <h5 class = 'card-title'>  {{object.id}}:

        {{object.first_name}} {{object.last_name}} </h5> 
      <div class = 'card-text'> eMail: <a href = "mailto:{{object.email}}">{{object.email}}</a>

        
      

      <a href='{{ object.get_edit_url }}' > Edit {{object.first_name}}

        {{object.last_name}}'s Information</a>

      </div>

      <!-- <a href='{{ enrollment.get_edit_url }}' > Edit
        {{object.first_name}} {{object.last_name}}'s Course Schedule</a> -->

       
  </div>
</div>
</div>
