<!-- #epiclive heroku -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <h1 style="text-align:center">{{title}}</h1>
  </head>
  <body>
    {% include 'navbar.html' %}
  <div class="container">

<p class="p-5">
    <div class='row'>
        <div class='col-md-6'>
            <div class = 'col-md-12'>


{% load embed_video_tags %}
{% video item.video 'small' %}
<body>


  <h3 font=24>Setting Up a Student - Have More Than One? <a href="https://docs.google.com/spreadsheets/d/1VkBr0S2A2EDNDjegYJUuuwgE9s27ttAMZArHcOfcTVw/edit?usp=sharing" target="_blank">We'll Handle That For You!</a></h3>
  <p></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/HquuDeZhgBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p></p>




  <h3 font=24>Editing a Student’s Contact Information</h3></a>
  <p></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/MiTA9-oag34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>




<h3 font=24>Add a Curriculum to a Student’s Screen</h3>
<p></p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/JAUpyyrgMYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>


<h3 font=24>Weighting Curriculum</h3>
<p></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/BJV5cXAw_DM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p> 

<h3 font=24>Viewing the Assignments in a Curriculum</h3>
<p></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/S0dfmb4c_Ds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<p></p>

<h3 font=24>Creating Pacing Guides for Students</h3>
<p></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/7ZXia5hfLVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h3 font=24>Student View of Weekly Assignment List</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FfHYnd3uXT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
<body>
</div></div>
    <div class='col-md-6'>
        <div class = 'col-md-12'>

<h3 font=24>Late Assignment Reports</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HGoRihiOzlQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>

<h3 font=24>
E-Mailing Assignment Lists</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ONwrgd2HkY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>

<h3 font=24>
Standards</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_x73ZtnjUds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>

<h3 font=24>
Curriculum</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8QmMZOf3r8c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>


<h3 font=24>
Gradable Assignments</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZBGWjXw57ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>

<h3 font=24>
Editing the Gradable Assignments Earned</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RgkeSlEaWlU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>

<h3 font=24>
Removing a Curriculum From Student’s Pacing</h3>
<p></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Gi0Q8h84_6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>


</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $( function() {
        $( "#datepicker" ).datepicker();
        $( "#id_attendance_date" ).datepicker();
        $( "#id_date_of_birth" ).datepicker();
    } );
</script>

