{% extends "base.html" %}



{% block content %}<h5>Vo-tech</h5>

<p>ALL JUNIORS GO FREE, BUT YOU NEED TO APPLY IN JANUARY OF YOUR 10TH GRADE YEAR, SECOND SEMESTER
Yes!  All juniors and seniors in Oklahoma can attend vo-tech FREE OF CHARGE!  You do get high school credit! </p> 

<a href="https://www.okcareertech.org/technology-centers"target="_blank"> Find your nearest vo-tech here.</a>

<p>Steps:
<ol>

	<li>Contact the vo-tech of your choice and get an application.  Many sites have online applications.</li>

<li>Complete the application process.</li>

<li>Go for an interview at the vo-tech.</li>

<li>GET ACCEPTED!</li>

{% endblock %}